<!DOCTYPE html>
<html lang="en">
      <head>
         <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
         <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
      </head>
      <body>
         <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
               <div class="navbar-header">
                  <a class="navbar-brand" href="#">Nikka-ja URL Shortener</a>
               </div>
               <!--/.navbar-collapse -->
            </div>
         </nav>
         <!-- Main jumbotron for a primary marketing message or call to action -->
         <div class="jumbotron">
            <div class="container">
               <br />
               {% if not short_url %}
               <div class="row">
                  <div class=" col-md-12">
                        <div>
                              <form method="post"  action="">
                                    <div class="form-group">
                                          <div>
                                                <h2>Aithhe lamba url Enter Karo </h2>
                                          </div>
                                          
                                          <input type="text" id="url" name="url" class="form-control input-lg " placeholder="URL" />
                                          <button type="submit" class="btn btn-lg btn-info">Submit</button>
                                    </div>
                              </form>
                        </div>
                  </div>
               </div>
               {% else %}
            <div class="col-md-12">
                  <center>
                        <h3>
                              Aye lo twada nikka-ja url :
                              <a href="{{short_url}}"> https://nikka-ja.herokuapp.com/{{short_url}}</a>
                        </h3>
                         
                  </center>
            </div>
               {% endif %}
            </div>
         </div>
            <div class="col-md-12">
                  <center>
                        &copy; Raunaq Singh Ji (Pulbangash Waale), 2018
                  </center>
            </div>
         </div> 
      </body>
   </html>